<main>
  <div class="splash">
    <div classs="logo-container">
      <%= image_tag 'money-mgr.png', height: 200 %>
    </div>

    <div class="splash-links">
      <%= link_to 'Log in', sign_in_path, class: 'login' %>
      <%= link_to 'Sign up', sign_up_path, class: 'signup' %>
    </div>
  </div>
</main>