<h1>Categories</h1>

<div>
  <%= link_to 'Log out', sign_out_path, method: :delete %>
</div>

<br>

<% @categories.each do |category| %>
  <div>
    <p><%= category.icon %></p>
    <%= link_to category.name, category_expenses_path(category) %>
  </div>
<% end %>

<br>

<div>
  <%= link_to 'Add new category', new_category_path %>
</div>
